/* html과 body 전체 높이를 화면 너비에 맞츰 */

html,
body {
  height: 100%;
}

/* 전체 박스를 문서의 가운데로 배치 */
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  width: 310px;
  height: 50px;
  background-color: violet;
  border-radius: 10px;
  margin-bottom: 10px;
}

nav {
  width: 100px;
  height: 250px;
  background-color: brown;
  border-radius: 10px;
  margin-right: 10px;
}

article {
  width: 200px;
  height: 250px;
  background-color: yellowgreen;
  border-radius: 10px;
}

footer {
  width: 310px;
  height: 50px;
  background-color: rgb(124, 16, 42);
  border-radius: 10px;
  margin-top: 10px;
}

main {
  display: flex;
}
